/* Thierry Parmentelat - INRIA */

table.plekit_table {
    width: auto;
    padding: 0;
    margin: 0 auto 1.5em auto;
    border-collapse:collapse;
/* this used to be hard-wired in the <table> tag, but looks useless now
    cellpadding:0;
    cellspacing:0;
    border:0;    
    */
}
table.plekit_table>thead>tr, table.plekit_table>tbody>tr {
    border-left: 1px solid #C1DAD7; 
}    
/* remove border for search/pagesize area */
table.plekit_table>thead>tr.pagesize_area, table.plekit_table>thead>tr.search_area {
    border-left: 0px;
}    
table.plekit_table fieldset {
    border: 0px; margin: 0px; padding: 0px;
}    

th.plekit_table {
    font: bold 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    padding: 8px 12px 4px 12px;
    background: #CAE8EA url(/plekit/icons/tablesort-header.jpg) no-repeat;
    vertical-align:middle;
}
table.plekit_table>tbody>tr>td, table.plekit_table textarea, table.plekit_table input [type="text"] {
    font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
}
table.plekit_table>tbody>tr>td {
/*    padding: 6px 12px 6px 12px; */
    padding: 4px 8px 4px 8px;
    color: #4f6b72;
}
table.plekit_table>tbody>tr>td a {
    font-weight:normal;
}

th.sortable,
th.sortable-text,
th.sortable-date,
th.sortable-keep,
th.sortable-date-dmy,
th.sortable-numeric,
th.sortable-currency,
th.sortable-sortByTwelveHourTimestamp,
th.sortable-sortIPAddress,
th.sortable-sortEnglishLonghandDateFormat,
th.sortable-sortScientificNotation,
th.sortable-sortImage,
th.sortable-sortFileSize,
th.sortable-sortBandwidth,
th.sortable-sortLastContact,
th.sortable-sortAlphaNumeric,
th.sortable-sortAlphaNumericTop,
th.sortable-sortAlphaNumericBottom,
th.sortable-sortEnglishDateTime {
    cursor:pointer;
    background: #CAE8EA url(/plekit/icons/tablesort-header-sortable.jpg) no-repeat;
    padding: 8px 12px 4px 16px;
}
th.forwardSort {
    background:#CAE8EA url(/plekit/icons/tablesort-header-down.jpg) no-repeat 0 0;
}
th.reverseSort {
    background:#CAE8EA url(/plekit/icons/tablesort-header-up.jpg) no-repeat 0 0;
}
table thead th.forwardSort a,
table thead th.reverseSort a {
    color:#000;
    text-decoration:none;
}
/* rows with odd index */
tr.alt {
    background: #F5FAFA;
    color: #797268;
}

/* sort columns */
/* Poor old Internet Explorer 6 has a bug that means we can't use background images for the table rows
   as it trys to download the image each and every time that it is used (which means a 1000 row table
   will produce 1000 http requests for the image in question) */
tr[class="alt"]>td {
    background: #F5FAFA url(/plekit/icons/tablesort-td-alt.jpg) no-repeat;
}
table.plekit_table>tbody>tr>td [class~="alt"] {
    background: #edf3f3 url(/plekit/icons/tablesort-col-alt.jpg) no-repeat !important;
}
/* Poor old Internet Explorer won't see the next two rules either as it doesn't get :first-child */
table.bullets1>tbody>tr.alt>td:first-child {
    background-color: #F5FAFA;
    background-image: url(/plekit/icons/tablesort-bullet2.gif);
    background-repeat: no-repeat;
}
table.bullets1>tbody>tr>td:first-child {
    background-image: url(/plekit/icons/tablesort-bullet1.gif);
    background-repeat: no-repeat;
}

/* table decorations */
td.search_area {
    text-align:right;
    padding-right: 30px;
    padding-bottom: 5px;
}
td.pagesize_area {
    text-align:right;
    padding-right: 30px;
    padding-bottom: 5px;
}
.pagesize_label, .pagesize_input {
    font-style: oblique;
    font-size: .5em;
}
.search_label{
    font-weight:bold;
}
.reset {
    border:1px;
}

/* Pagination list styles */
ul.fdtablePaginater {
    display:table;
    list-style:none;
    padding:0;
    margin:0 auto;
    text-align:center;
    height:1.5em;
    width:auto;
    margin-bottom:1em;
}
ul.fdtablePaginater li {
    display:table-cell;
    padding-right:4px;
    color:#666;
    list-style:none;
    
    -moz-user-select:none;
    -khtml-user-select:none;
}
ul.fdtablePaginater li a.currentPage {
    border-color:#a84444 !important;
    color:#000;
}
ul.fdtablePaginater li a:active {
    border-color:#222 !important;
    color:#222;
}
ul.fdtablePaginater li a,
ul.fdtablePaginater li div {
    display:block;
    width:2em;
    font-size:1em;
    color:#666;
    padding:0;
    margin:0;
    text-decoration:none;
    outline:none;
    border:1px solid #ccc;
    font-family:georgia, serif;
}
ul.fdtablePaginater li div {
    cursor:normal;
    opacity:.5;
    filter:alpha(opacity=50);
}
ul.fdtablePaginater li a span,
ul.fdtablePaginater li div span {
    display:block;
    line-height:2em;
    border:1px solid #fff;
    background:#fff url(/plekit/icons/tablesort-gradient.gif) repeat-x 0 -20px;
}
ul.fdtablePaginater li a {
    cursor:pointer;
}
ul.fdtablePaginater li a:focus {
    color:#333;
    text-decoration:none;
    border-color:#aaa;
}
.fdtablePaginaterWrap {
    text-align:center;
    clear:both;
    text-decoration:none;
}
ul.fdtablePaginater li .next-page span,
ul.fdtablePaginater li .previous-page span,
ul.fdtablePaginater li .first-page span,
ul.fdtablePaginater li .last-page span {
    font-weight:bold !important;
}
/* Keep the table columns an equal size during pagination */
td.sized1 {
    width:16em;
    text-align:left;
}
td.sized2 {
    width:10em;
    text-align:left;
}
td.sized3 {
    width:7em;
    text-align:left;
}
/*
   tfoot td
        {
        text-align:right;
        font-weight:bold;
        text-transform:uppercase;
        letter-spacing:1px;
        }
   */
#visibleTotal {
    text-align:center;
    letter-spacing:auto;
}
* html ul.fdtablePaginater li div span,
* html ul.fdtablePaginater li div span {
    background:#eee;
}
tr.invisibleRow {
    display:none;
    visibility:hidden;
}
p.paginationText {
    font-style:oblique;
}
p.table_note {
    font-style:oblique;
    font-size:0.6em;
    font-family: georgia;
    text-align: center;
}
span.table_note_title {
    font-weight:bold;
    font-size:1.5em;
    font-family: georgia;
    text-align: center;
}

span.bold {
    font-weight:bold;
}

/* for IE */
ul.fdtablePaginater {display:inline-block;}
mul.fdtablePaginater {display:inline;}
ul.fdtablePaginater li {float:left;}
ul.fdtablePaginater {text-align:center;}
/*table.plekit_table { border-bottom:1px solid #C1DAD7; }*/

.search_input:focus ,.pagesize_input:focus {
    background-color: #8cd;
    outline-color: #696;
}
