/*
 $Id$
 */

/* containers - work with nifty corners*/
div.plc-toggle-container {
/*    background-color: #E6E6E6; */
    background-color: #e8ffe8;
    padding: 5px;
    margin: 10px;
}

.plc-toggle-trigger {
    padding: 0;
    margin: 20px;
    cursor: crosshair;
    font: italic 16px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

/* the buttons */
img.plc-toggle-visible, img.plc-toggle-hidden {
    height: 16px;
    padding-right: 15px;
}

/* what goes on and off */
div.plc-toggle-area {
}

